.file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.file + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.file:focus + label,
.file + label:hover {
    background-color: red;
}

.camera-container {
	width: 20%;
	height: 20%;
}

.input-container {
	width: 80%;
	height: 80%;
}